# https://docs.github.com/en/packages/working-with-a-github-packages-registry/working-with-the-npm-registry
# https://docs.github.com/en/authentication/keeping-your-account-and-data-secure/creating-a-personal-access-token

@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=3CE38701-46FD-48F0-B5C4-0C25F747B310

